<footer class="flex items-center">

    <div class="py-5 px-2  text-slate-500 flex text-sm  justify-center items-center">
        
        Copyright © 2024 - All rights reserved
    </div>
        <div class="flex gap-5 ml-10">
    
            <%= link_to "Privacy Policy", static_pages_privacy_path,class:"decoration-2 hover:underline  text-blue-500 w-fit "%>
            <%= link_to "Terms of Service", static_pages_terms_path,class:"decoration-2 hover:underline  text-blue-500 w-fit "%>
        </div>
        
    </footer>