


<a href="https://www.producthunt.com/posts/codebrisk" class="flex  pr-4 bg-orange-500 text-white w-fit h-fit select-none fixed bottom-3 left-3 font-semibold text-base rounded-xl">

    <%= image_tag("https://techcrunch.com/wp-content/uploads/2014/09/product-hunt.png", class:"mt-1 w-[75px]")%> 
    <div class="flex flex-col justify-center">
        <p class="font-bold"> 
            We are live on ProductHunt
        </p>
        <p class="font-semibold text-sm">
            Would love your support
        </p> 
    </div> 
</a> 
