<%= render "static_pages/navbar"%>

<div data-turbo="false" class="flex justify-center items-baseline mt-[140px] gap-20  h-[calc(100vh-270px)]   ">
    <%= render "static_pages/pricing-plans/starter"%>
    <%= render "static_pages/pricing-plans/premium"%>
</div>