<div class="flex gap-1">
    <!-- Google play -->
    <%= link_to "https://play.google.com", target:"_blank" do%>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png",class:"h-10 ")%>
    <%end%>
    <!-- Appstore -->
    <%= link_to "https://www.apple.com/app-store/", target:"_blank" do%>
        <%= image_tag("https://upload.wikimedia.org/wikipedia/commons/9/91/Download_on_the_App_Store_RGB_blk.svg",class:"h-10 ")%>

    <%end%>
</div>