<div class="">
    <input id="default-checkbox" type="checkbox" value="" class=" text-blue-600 bg-gray-100 border-gray-300 rounded">
    <label for="default-checkbox" class="select-none  text-sm font-medium text-gray-900 dark:text-gray-300"><%= name%></label>
</div>