<footer class="">

    <div class="py-5 text-slate-500 flex text-sm  items-center">
        
        Copyright © 2025 - All rights reserved
    </div>
        <div class="flex gap-5">
    
            <%= link_to "Privacy Policy", "#",class:"hover:underline text-blue-500 w-fit "%>
            <%= link_to "Terms of Service", "#",class:"hover:underline text-blue-500 w-fit "%>
        </div>
        
</footer>