<h1 class="w-[800px] font-bold lg:text-7xl text-xl lg:text-left text-center -ml-2 mt-10 lg:leading-[80px] tracking-tight text-slate-900 backdrop:shadow-md"> 
    This is my <span class="decoration-rose-600 border-b-4 border-b-rose-600 border-dashed">headline</span>
</h1>