<h1 class="w-[800px] font-bold lg:text-7xl text-xl lg:text-left text-center -ml-2 mt-10 lg:leading-[80px] tracking-tight text-slate-900 backdrop:shadow-md"> 
    <%= text%><span class="text-rose-600 relative inline-block before:absolute before:-inset-1 before:block before:-skew-y-1  before:bg-rose-500"><span class="relative text-white"><%= highlighted_text%></span></span> 
</h1>