<section class="h-fit flex justify-center items-center p-5  *:font-semibold bg-slate-200">
  <div class="flex flex-col lg:items-start md:items-start items-center">
    <h1 class="w-[800px] font-extrabold lg:text-8xl text-xl lg:text-left text-center -ml-2 mt-10 line-clamp-2 tracking-tighter text-slate-900 backdrop:shadow-md">
        make beautiful websites in <span class="text-rose-600">hours</span> 
    </h1>
    <p class="lg:w-[600px] w-[320px] lg:text-base text-sm lg:text-justify text-center">
      Rails Elements is a ruby on <span class="underline">rails UI library</span> for developers who want to <span class="underline">finish projects faster</span>.
      This template offers prebuilt pages, reusable rails components, JS scripts for the front-end and animations
    </p>
    <div class="flex flex-col mt-10">
      <button class="flex justify-center items-center w-fit gap-2 px-3 py-3 mt-5 group rounded-md font-semibold bg-slate-800 hover:bg-rose-900 text-sm text-slate-50 transition-all">
        Design 2x faster
        <svg class="group-hover:rotate-180 transition-all duration-300" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-train-track"><path d="M2 17 17 2"/><path d="m2 14 8 8"/><path d="m5 11 8 8"/><path d="m8 8 8 8"/><path d="m11 5 8 8"/><path d="m14 2 8 8"/><path d="M7 22 22 7"/></svg>
      </button>
    </div>
  </div>
  </section>
  
    
  