<div class="flex gap-5 justify-start items-center ">
    <div class="flex *:-mr-3 *:w-10 *:h-10 *:object-cover *:rounded-full">
        <%=image_tag("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTExL3Nta2ttczMwNTItaW1hZ2UuanBn.jpg")%>
        <%=image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTaZZ4MsKJm-3t7yWVskMOzzUNYu96SoaMrJA&s")%>
        <%=image_tag("https://upload.wikimedia.org/wikipedia/commons/5/54/LEONARDO_DA_VINCI.jpg")%>
    </div>
    <p class="text-sm">1000+ People using this product</p>
</div>