<section class="py-12 lg:py-24 ">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="text-center mb-12">
      <h2 id="pricing" class="text-sm font-medium text-rose-500 mb-4">Pricing</h2>
      <h3 class="text-3xl lg:text-4xl font-semibold text-slate-900 tracking-tight max-w-3xl mx-auto">
        Save hours of repetitive code, ship fast, get profitable!
      </h3>
    </div>

    <div class="flex flex-col lg:flex-row justify-center items-baseline gap-8 lg:gap-10">
      <%= render "static_pages/pricing-plans/starter" %>
      <%= render "static_pages/pricing-plans/premium" %>
    </div>
  </div>
</section>