<section class="py-12 lg:py-24 lg:mx-28 md:mx-20 mx-5">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex lg:flex-row flex-col gap-8 lg:gap-16 items-center">
      <div class="lg:w-1/2 w-full text-slate-700">
        <h3 class="font-bold text-2xl lg:text-3xl text-slate-800 mb-6">My Story</h3>
        <div class="space-y-4 text-base lg:text-lg">
          <p>
            Over the past year, I dedicated myself to learning Ruby on Rails and launching my startups. Along the way,
            I encountered various challenges: implementing Stripe payments, balancing studies, and debugging code.
          </p>
          <p>
            While developing websites, I found the process of repeatedly setting up the same components to be tedious and time-consuming:
            landing pages, authentication, payments, and production deployment.
          </p>
          <p>
            That's why I decided to create a new solution: a Ruby on Rails template that significantly reduces development time.
            This template is designed for developers who want to break free from repeating the same setup cycle with each new project,
            and for those who value efficiency and resource optimization.
          </p>
          <p>
            I'm proud to present Rails Components - your path to faster development with Ruby on Rails.
          </p>
        </div>
      </div>
      <div class="lg:w-1/2 w-full flex justify-center">
        <%= image_tag("https://pbs.twimg.com/profile_images/1845315723721129985/Df3CLnl5_400x400.jpg", 
          class: "rounded-full border border-slate-400 w-64 h-64 lg:w-80 lg:h-80 object-cover shadow-lg") %>
      </div>
    </div>
  </div>
</section>